*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;  /* hide mobile navigation */
}

.background {
    background-image: url(./Assets/Background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 90%;
    margin: 0 auto;
}

img {
    max-width: 100%;
}


.header {
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__right {
    display: none;
}

.header__right--mobile {
    position: absolute;
    top: 100px;
    right: 0;
    width: 100%;
    height: calc(100vh - 100px);
    background: #E3CED9;
    padding: 3rem;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    transform: translateX(100%);
    transition: transform 0.5s ease-out;
}

.mobile-active {
    transform: translateX(0%);
}

.header__right--mobile img {
    width: 40px;
}

.header__right--mobile a {
    text-decoration: none;
    color: #2E3231;
    font-size: 1.7rem;
}

.burger {
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 4px;
    background-color: black;
}

.burger .line2 {
    margin: .3rem 0;
}

.main-section__title {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1rem;
}

.main-section__text {
    color: #2E3231;
    font-size: 1.125rem;
    text-align: center;
}

.cta-btn {
    background: black;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 1.125rem;
    padding: 1rem;
    width: 100%;
    margin: 1.25rem 0;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.cta-btn:hover {
    opacity: 0.85;
}

.cta-btn span {
    color: #ADAEAE;
    font-weight: 200;
}

.img-div img {
    padding-top: 3rem;
    margin-bottom: -7px;
}

.right-side {
    padding: 4rem 0;
    width: 70%;
    margin: 0 auto;
}

.editor-section__title {
    font-size: 2.2rem;
    margin-bottom: 1rem;
}

.editor-section__text {
    color: #2E3231;
    font-size: 1.125rem;
}

.editor-section .cta-btn {
    width: 60%;
}

.footer {
    padding: 3rem 0 2rem 0;
}

.footer__right {
    margin-top: 1rem;
}

.footer__right a {
    text-decoration: none;
    color: #2E3231;
    font-size: 1.125rem;
}

.footer__right a:first-child {
    margin-right: .5rem;
}

@media (min-width: 600px) {
    .burger {
        display: none;
    }

    .header__right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 60%;
    }

    .header__right a {
        margin: 0 1.1rem;
        text-decoration: none;
        color: #2E3231;
        font-size: 1.125rem;
    }

    .header__right .cta-btn {
        width: auto;
    }

    .main-section .cta-btn {
        width: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .img-div {
        padding-top: 3rem;
    }

    .editor-section .cta-btn {
        width: auto;
    }

    .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer__right {
        padding-bottom: 1rem;
    }
}

@media (min-width: 900px) {
    .container {
        width: 80%;
        max-width: 1200px;
    }

    .editor-section {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }

    .right-side {
        width: 40%;
        margin: 0;
    }

    .left-side {
        width: 55%;
        padding: 6rem 0;
    }

    .editor-section img {
        max-width: 100%;;
    }

    a:hover {
        color: black;
    }
}