*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    background: #F6F9FE;
}

img {
    display: block;
    max-width: 100%;
}

header {
    padding: 1rem 0;
    margin-bottom: 5rem;
}

header .nav-item + .nav-item {
    margin-left: 1rem;
}

.hamburger-img {
    display: none;
}

.mobile-menu {
    display: none;
}

.logo {
    cursor: pointer;
}

.join {
    border: none;
    border-radius: 5px;
    font-size: 1.125rem;
    padding: 1rem;
    background: #372865;
    color: white;
}

.join:hover {
    opacity: 0.9;
}

header .nav-link {
    color: #4B4B4A;
    font-size: 1.125rem;
    letter-spacing: 0.5px;
}

header .nav-link:hover {
    color: black;
}

#hero-right {
    width: 60%;
}

#hero-left {
    margin-right: 3rem;
    padding-top: 2rem;
}

.learn-more {
    background: #372865;
    color: #CCC1E6;
    padding: 0.5rem 1rem;
    border-radius: 100px;
    font-size: 1.125rem;
    margin-bottom: 1.5rem;

    display: inline-block;
}

.learn-more a {
    font-weight: bold;
    color: #CCC1E6;
    text-decoration: underline;
}

.hero-section__title {
    font-size: 3.2rem;
    font-weight: bold;
    color: #372865;
    margin-bottom: 1.5rem;
}

.hero-section__text {
    font-size: 1.125rem;
    color: #4B4B4A;
    letter-spacing: 0.5px;
}

.email-input {
    padding: 1rem;
    font-size: 1.125rem;
    border: 2px solid #E1E1E1;
    border-radius: 7px;
    margin-right: 1rem;
}

::placeholder {
    color: rgb(200, 200, 200);
}

footer {
    margin-top: 5rem;
    padding-bottom: 3rem;
}

#img-container img {
    margin-right: 1rem;
}

.footer__text {
    color: #4B4B4A;
    font-weight: 600;
    font-size: 1.125rem;
}

@media screen and (max-width: 1000px) {
    .navbar {
        display: none;
    }

    .hamburger-img {
        display: inline-block;
    }

    .mobile-menu {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 20%;
        left: 0;
        right: 0;
        bottom: 0;        
        background: #372865;
    }

    .mobile-menu ul {
        list-style: none;
        width: 100%;
    }

    .mobile-menu li {
        text-align: center;
        margin-bottom: 1rem;
    }

    .mobile-menu a {
        color: white;
        font-size: 1.125rem;
        text-transform: uppercase;
    }

    .mobile-menu button {
        background: white;
        color: #372865;
        width: 40%;
        text-transform: uppercase;
    }

    #hero-right {
        display: none;
    }

    #hero-left {
        text-align: center;
        padding-top: 0;
    }

    .email-input {
        width: 60%;
    }

    .active {
        display: flex;
    }
    
}

@media screen and (max-width: 600px) {
    .email-input {
        width: 100%;
        margin-bottom: 1rem;
    }

    form button {
        width: 100%;
    }

    #img-container {
        flex-wrap: wrap;
    }

    #img-container img {
        margin-bottom: 1rem;
    }
}

