/* Mobile first */
/* ==================Navigation============================
        0. Global
        1. Header
        2. Main Section
        3. Article Section
        4. User Avatar Section
        5. Price Section
        6. Footer
        7. Media Queries
    ========================================================*/

/*==============
    0. Global
===============*/
*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Inter', sans-serif;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

.mobile-menu {
    position: absolute;
    background: #1DA1F2;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mobile-menu a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.mobile__pricing {
    margin: 1.5rem 0;
}

.mobile .mobile-twitter-btn {
    color: #1DA1F2;
    border: none;
    border-radius: 10px;
    background: white;
    padding: 1rem;
    font-size: 1.5rem;
    margin-top: 1rem;
    width: 90%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile .mobile-twitter-btn img {
    width: 35px;
    margin-right: .5rem;
}

.mobile .close {
    position: absolute;
    top: 10px;
    right: 10px;

    border: none;
    color: white;
    background: black;
    font-weight: bold;
    font-size: 1.5rem;
    padding: .7rem;
    border-radius: 10px;
}

.d_none {   /* For Hero Images */
    display: none;
}

.row {
    display: flex;
    align-items: center;
}

img {
    max-width: 100%;
}

.twitter-btn {
    padding: .9rem;
    background: #1DA1F2;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.twitter-btn img {
    margin-right: .4rem;
}

.main-section__text,
.article-section__text,
.card__heart-numbers,
.card__date,
.price-section__text {
    font-size: 1.2rem;
    color: #6E6F6F;
    word-spacing: 3px;
}

/*==============
    1. Header
    ===========*/

.header {
    background-color: #FBF8F3;
    padding: 2rem 0;
}

.tablet-desktop-view {
    display: none;
}

.tablet-desktop-view a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #535353;
}

.tablet-desktop-view a + * {
    margin-left: 1.5rem;
}

.header-row {
    justify-content: space-between;
}

.logo {
    text-decoration: none;
    color: #287BF5;
    font-weight: bold;
    font-size: 1.3rem;
}


.hamburger-menu img {
    width: 25px;
    cursor: pointer;
}

/*=================
    2. Main Section
    ===============*/
.main-section {
    padding-top: 1rem;
    padding-bottom: 2rem;
    background-color: #FBF8F3;
}

.main-section .row {
    flex-direction: column-reverse;
}

.main-section__title {
    font-size: 2.3rem;
    margin: 2rem 0 1rem 0;
}

.blue-number {
    color: #1A7596;
    font-weight: bold;
}

.main-section .twitter-btn {
    margin-top: 1.5rem;
    width: 100%;
}

.learn-more {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #1A7596;
    font-weight: bold;
    font-size: 1.2rem;
    margin: 1rem 0 2rem 0;
}

.user-avatar-container {
    max-width: 300px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(10, 1fr);
    margin-bottom: 1rem;
 }  

#i1 {
    grid-column: 1 / span 2;
    grid-row: 1;
}

#i2 {
    grid-column: 2 /span 2;
    grid-row: 1;
}

#i3 {
    grid-column: 3 /span 2;
    grid-row: 1;
}

#i4 {
    grid-column: 4 /span 2;
    grid-row: 1;
}

#i5 {
    grid-column: 5 /span 2;
    grid-row: 1;
}

#i6 {
    grid-column: 6 /span 2;
    grid-row: 1;
}

#i7 {
    grid-column: 7 /span 2;
    grid-row: 1;
}

#i8 {
    grid-column: 8 /span 2;
    grid-row: 1;
}

#i9 {
    grid-column: 9 /span 2;
    grid-row: 1;
}

/*====================
    3. Article Section
    ==================*/
.article-section {
    padding: 3rem 0;
}

.article-section i {
    color: #1DA1F2;
}

.article-section__title {
    font-size: 2.2rem;
    margin-bottom: 2rem;
}

.article-section .article {
    border: 2px solid #D3D3D3;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 1.5rem;
}

.article__title {
    margin: 1.2rem 0;
    font-size: 1.3rem;
}

/*========================
    4. User Avatar Section
    ======================*/
.user-avatar-section {
    background: #D7F5F5;
    padding: 3rem 0;
}

.user-avatar-section__title {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.user-avatar-section .row {
    display: block;
    /* width: 100%; */
}

.card {
    border-radius: 10px;
    background: #ffffff;
    margin-bottom: 2rem;
    padding: 1.5rem;

    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr;
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas: "image info . twitter"
                         "text text text text"
                         "heart . date date";
}

.card__user {
    grid-area: image;
    align-self: center;

    width: 60px;
}

.card__perosnal-info {
    grid-area: info;
    align-self: center;
    justify-self: start;
}

.card__twitter {
    grid-area: twitter;
    align-self: center;
    justify-self: end;
}

.card__description {
    grid-area: text;
    font-size: 1rem;
    color: #6E6F6F;
    padding: 2rem 0 .5rem 0;
    line-height: 1.6;
}

.card__heart {
    grid-area: heart;
    align-self: end;

    display: flex;
    align-items: center;
    font-size: .9rem;
}

.card__heart img {
    width: 20px;
}

.card__date {
    grid-area: date;
    align-self: end;
    justify-self: end;
    font-size: .9rem;
}

.card__heart img {
    margin-right: .5rem;
}

.card__name {
    font-weight: 900;
    font-size: .9rem;
    margin-bottom: .3rem;
}

.card__email {
    font-size: .756rem;
    color: #6E6F6F;
}

/*====================
    5. Price Section
    =================*/
.price-section {
    padding: 4rem 0;
}

.price-section .row {
    display: block;
}

.price-section__title {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

.price-section__text {
    text-align: center;
    line-height: 1.5;
    margin-bottom: 3rem;
}

.price-article {
    border: 2px solid #FFB02B;
    border-radius: 10px;
    background: #FBF8F3;
    padding: 1.5rem;
}

.price-article .twitter-btn {
    width: 100%;
    margin-top: 1rem;
}

.price-article span {
    font-size: 1.4rem;
    color: #6E6F6F;
    font-weight: 400;
}

.price-article h3 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.price-article h3 span {
    margin-left: -12px;
}

.checkmark-div {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1rem;
}

.space {
    margin-top: 1rem;
}

.checkmark-div p {
    line-height: 1.6;
    font-size: 1rem;
    color: #6E6F6F;
    margin-left: .7rem;
}

/* ============
    6. Footer
    ==========*/
.footer {
    background: #D7F5F5;
    padding: 1.5rem 0 .75rem 0;
}

.footer .row {
    display: block;
}

.footer .col-logo {
    margin-bottom: 1rem;
}

.footer .col-links a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

.privacy {
    margin: 0 1rem;
}

/* =================
    7. Media Queries
    ===============*/

@media (min-width: 700px) {
    /* 0. Global */
    .container {
        width: 80%;
    }

    /* 1. Header*/
    .hamburger-menu {
        display: none;
    }

    .tablet-desktop-view {
        display: flex;
        align-items: center;
    }

    .mobile-menu {
        display: none;
    }

    /* 2. Main Section */
    .main-section .twitter-btn,
    .main-section .learn-more {
        display: inline-block;
        width: 45%;
    }

    .learn-more {
        text-align: left;
        margin-left: 2rem;
    }

    /* 3. Article Section */
    /* x */

    /* 4. User Avatar Section */
	.user-avatar-section .row {
		display: block;
		overflow: auto;
		white-space: nowrap;
		margin: 0 -40px;
		padding: 0 40px;
	}
	.card {
        display: inline-grid;
		width: 55vw;
		white-space: normal;
		vertical-align:top;
		margin-right: 20px;
	}
	.card:last-child {
		margin-right: 40px;
	}

    /* 5. Price Section */
    .price-section .row {
        width: 70%;
        margin: 0 auto;
    }

    /* 6. Footer */
    .footer .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .col-links {
        padding-bottom: .5rem;
    }
}

@media (min-width: 900px) {
    /* 2. Main Section */
    .main-section .row {
        flex-direction: row;
    }

    .main-section .row .col + .col {
        margin-left: 2rem;
    }

    .main-section__title {
        font-size: 3rem;
    }

    /* 3. Article Section */
    .article-section .col {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .article-section .col .article {
        width: 48%;
    }

    /* 4. User Avatar Section*/
    .user-avatar-section .row {
        display: flex;
        align-items: flex-start;
    }

    .card {
        grid-template-areas: "image info info twitter"
                            "text text text text"
                            "heart date date date";
    }

    .card__perosnal-info {
        padding-left: .5rem;
    }

    /* 5. Price Section */
    .price-section .row {
        width: 50%;
        margin: 0 auto;
    }
}
