/* Mobile first */
/* ==================Navigation============================
        0. Global
        1. Header
        2. Main Section
        3. Article Section
        4. User Avatar Section
        5. Price Section
        6. Footer
        7. Media Queries
    ========================================================*/

/*==============
    0. Global
===============*/
*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Inter', sans-serif;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

.d_none {   /* For Hero Images */
    display: none;
}

.row {
    display: flex;
    align-items: center;
}

img {
    max-width: 100%;
}

.twitter-btn {
    padding: .9rem;
    background: #1DA1F2;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
    cursor: pointer;
}

.main-section__text {
    font-size: 1.2rem;
    color: #6E6F6F;
    word-spacing: 5px;
}

/*==============
    1. Header
    ===========*/

.header {
    background-color: #FBF8F3;
    padding: 2rem 0;
}

.tablet-desktop-view {
    display: none;
}

.tablet-desktop-view a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #535353;
}

.tablet-desktop-view a + * {
    margin-left: 1.5rem;
}

.header-row {
    justify-content: space-between;
}

.logo {
    text-decoration: none;
    color: #287BF5;
    font-weight: bold;
    font-size: 1.3rem;
}

.hamburger-menu img {
    width: 25px;
}

/*=================
    2. Main Section
    ===============*/
.main-section {
    padding-top: 1rem;
    padding-bottom: 2rem;
    background-color: #FBF8F3;
}

.main-section .row {
    flex-direction: column-reverse;
}

.main-section__title {
    font-size: 2.3rem;
    margin: 2rem 0 1rem 0;
}

.blue-number {
    color: #1A7596;
    font-weight: bold;
}

.main-section .twitter-btn {
    margin-top: 1.5rem;
    width: 100%;
}

.learn-more {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #1A7596;
    font-weight: bold;
    font-size: 1.2rem;
    margin: 1rem 0 2rem 0;
}

.user-avatar-container {
    max-width: 300px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(10, 1fr);
    margin-bottom: 1rem;
 }  

#i1 {
    grid-column: 1 / span 2;
    grid-row: 1;
}

#i2 {
    grid-column: 2 /span 2;
    grid-row: 1;
}

#i3 {
    grid-column: 3 /span 2;
    grid-row: 1;
}

#i4 {
    grid-column: 4 /span 2;
    grid-row: 1;
}

#i5 {
    grid-column: 5 /span 2;
    grid-row: 1;
}

#i6 {
    grid-column: 6 /span 2;
    grid-row: 1;
}

#i7 {
    grid-column: 7 /span 2;
    grid-row: 1;
}

#i8 {
    grid-column: 8 /span 2;
    grid-row: 1;
}

#i9 {
    grid-column: 9 /span 2;
    grid-row: 1;
}






/* =================
    7. Media Queries
    ===============*/

@media (min-width: 700px) {
    /* 0. Global */
    .container {
        width: 80%;
    }

    /* 1. Header*/
    .hamburger-menu {
        display: none;
    }

    .tablet-desktop-view {
        display: flex;
        align-items: center;
    }

    /* 2. Main Section */
    .main-section .twitter-btn,
    .main-section .learn-more {
        display: inline-block;
        width: 45%;
    }

    .learn-more {
        text-align: left;
        margin-left: 2rem;
    }
}

@media (min-width: 900px) {
    /* 2. Main Section */
    .main-section .row {
        flex-direction: row;
    }

    .main-section .row .col + .col {
        margin-left: 2rem;
    }

    .main-section__title {
        font-size: 3rem;
    }
}