@mixin userAvatar {
    display: flex;
    align-items: center;
    width: auto;
    margin-left: auto;
    margin-right: auto;

    .user-avatar-img {
        margin-right: .7rem;

        img {
            display: block;
            max-width: 100%;
        }
    }

    .user-avatar-info {
        .name {
            font-weight: bold;
            font-size: .9rem;
        }

        .job {
            color: #6B6B6B;
            font-size: .9rem;
        }
    }
}