*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Manrope', sans-serif;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

.d_none {
    display: none;
}

.d_none_mobile {
    display: none;
}

.main-section__text,
.article__text,
.copyright {
    color: #6B6B6A;
    font-size: 1.125rem; /*18px*/
    line-height: 1.6;
}

.user {
    display: flex;
    align-items: center;

    margin: 1.1rem 0 3rem 0;
}

.user__img {
    width: 55px;
    margin-right: 1rem;
}

.info__name {
    font-size: .9rem;
}

.info__job {
    font-size: .85rem;
    color: #6B6B6A;
    font-weight: 500;
}


/* ================
    Header
===================*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 2.5rem 0;
}

.mobile-nav {
    position: absolute;
    top: 0;
    left: 0;
    width:100vw;
    height: 100vh;
    background: white;
    opacity: 0.95;
}

.slideDown {
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.mobile-nav__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobile-list__item {
    margin: 1rem;
}

.mobile-item__link {
    text-decoration: none;
    color: #EE7C0E;
    font-weight: bold;
    font-size: 2rem;
}

.mobile-subscribe-btn {
    color: white;
    padding: 1rem;
    background: #EE7C0E;
    border-radius: 10px;
}

.close-btn {
    margin-bottom: 2rem;
    display: block;
    margin-left: auto;
    margin-right: 2rem;
    margin-top: 2rem;
    padding: 1rem;
    font-size: 1.5rem;
    color: black;
    background: #EE7C0E;
    border: none;
}


/*================
    Main Section
=================*/
.hero {
    margin-bottom: 2rem;
}

.main-section__title {
    font-size: 2.1rem;
    margin-bottom: 1.5rem;
}

/*==================
    Article Section
==================*/
.article__title {
    font-size: 2rem;
    margin: 1rem 0;
}

/*===============
    Footer
================*/
.footer {
    padding: 1rem 0;
}

@media (min-width: 600px) {
    .d_none {
        display: block;
    }

    .hamburger-menu__img {
        display: none;
    }

    .nav__list {
        list-style: none;
        display: flex;
        align-items: center;
    }

    .list__item + .list__item {
        margin-left: 1rem;
    }

    .item__link {
        text-decoration: none;
        color: #636363;
        font-size: 1.125rem;
        font-weight: 500;
    }
    
    .subscribe-btn {
        background: #EE7C0E;
        padding: 1rem;
        color: black;
        font-weight: bold;
        border-radius: 10px;
        transition: 0.2s;
    }

    .subscribe-btn:hover {
        -webkit-box-shadow: 2px 2px 7px 2px #000000; 
        box-shadow: 2px 2px 7px 2px  #000000;
    }

    .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media (min-width: 900px) {
    .item__link:hover {
        color: #1F1F1F;
    }

    .main-section {
        margin-top: 2rem;
        margin-bottom: 2.5rem;
    }

    .main-section .container {
        display: flex;
    }

    .hero {
        width: 40%;
    }

    .hero__img {
        max-width: 80%;
    }

    .text-container {
        width: 55%;
    }

    .articles {
        display: flex;
        justify-content: space-between;
    }

    .article {
        width: 30%;
        transition: 0.2s;
    }

    .article:hover {
        -webkit-box-shadow: -10px 0px 13px -7px #EE7C0E, 10px 0px 13px -7px #EE7C0E, 5px 5px 15px 5px rgba(0,0,0,0); 
        box-shadow: -10px 0px 13px -7px #EE7C0E, 10px 0px 13px -7px #EE7C0E, 5px 5px 15px 5px rgba(0,0,0,0);
    }

    .article__title {
        font-size: 1.7rem;
    }

    .article__text {
        font-size: 1rem;
    }

    footer {
        margin-top: 3rem;
    }
}

@-webkit-keyframes slideInDown {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
