// Colors
$paragraph_color: #5A5343;
$white: #ffffff;
$black: #000000;
$title_color: #292929;
$background_color: #F0EEEB;

// Margins and Paddings
$s-1: 1rem; // s = space
$s-2: 2rem;
$s-3: 3rem;
$s-4: 4rem;
$s-5: 5rem;