@import '_reset.scss';
@import '_variables.scss';
@import '_components.scss';
@import '_media-queries';


.pre-header {
    background: $black;
    color: $white;
    padding: $s-1;

    &__text {
        text-align: center;
        font-size: 1.125rem;
        line-height: 1.5;
    }

    @include tablet {
        padding: $s-2;
    }

    @include desktop {
        padding: $s-1;
    }
}

.header {
    background: $background_color;
    padding: $s-2 $s-1;

    .header-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            @include logo;
        }

        .nav-mobile {
            position: absolute;
            right: 0;
            top: 190px;
            width: 100%;
            background: $black;
            height: 100vh;
            transform: translateX(100%);
            transition: transform 0.7s ease-in-out;

            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            &__center {
                li {
                    list-style: none;
                    margin-bottom: $s-1;
                    a {
                        @include burgerLink;
                    }
                }
            }

            &__right {
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 100%;

                li {
                    list-style: none;
                    a {
                        @include burgerLink;
                    }
                }

                button {
                    @include burgerButton;
                }
            }
        }
        
        .nav-tablet {
            display: none !important;

            @include tablet {
                display: flex !important;
                justify-content: space-between;
                width: 70%;

                .nav-tablet__center {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 50%;

                    li {
                        list-style: none;
                        a {
                            @include link;
                        }
                    }
                }

                .nav-tablet__right {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    width: 50%;

                    li {
                        list-style: none;

                        a {
                            @include link;
                        }
                    }
                    
                    button {
                        @include button;
                    }
                }
            }

            @include desktop {
                .nav-tablet__center {
                    justify-content: center;

                    li + li {
                        margin-left: 1.5rem;
                    }
                }

                .nav-tablet__right {
                    justify-content: flex-end;

                    button {
                        margin-left: 1.5rem;
                    }
                }
            }
        }

        .burger {
            .line1,
            .line3 {
                transition: transform 0.4s ease-in-out;
            }

            .line2 {
                transition: opacity 0.4s ease-in-out;
            }

            @include tablet {
                display: none;
            }
        }
        
        
        .burger div {
            width: 22px;
            height: 4px;
            background: $black;
            margin-bottom: .3rem;
        }
    }

    @include tablet {
        padding: $s-2;
    }
}

.hero-section {
    background: $background_color;
    padding: $s-1;
    padding-bottom: $s-3;

    .hero-flex {
        .hero-section__left {
            margin-top: $s-2;
    
            h1 {
                font-size: 2.2rem;
                color: $title_color;
                margin-bottom: $s-1;

                @include desktop {
                    font-size: 3rem;
                }
            }
    
            .hero-section__text {
                @include paragraph;
                margin-bottom: $s-1;
            }
    
            .checkmark-div {
                display: flex;
                align-items: center;
                margin-bottom: .5rem;
    
                img {
                    margin-right: $s-1;
                }
    
                p {
                    font-size: 1.125rem;
                    font-weight: bold;
                    color: $paragraph_color;
                }
            }
    
            form {
                margin-top: $s-2;
                display: flex;
                flex-wrap: wrap;
    
                input {
                    @include input;
                    margin-right: $s-1;
                }
    
                button {
                    @include button;
                    font-size: 1.1rem;
                }
            }
        }
        @include desktop {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;

            .hero-section__left {
                width: 55%;
            }

            .hero-section__right {
                width: 40%;
                img {
                    max-width: 90%;
                }
            }
        }
    }

    @include tablet {
        padding: $s-2;
    }
}

.img-section {
    padding: $s-3 $s-1;
    overflow-x: auto;

    .img-wrapper {
        display: flex;
        justify-content: space-between;
        
        img {
            display: block;
            width: 100px;
            margin-right: $s-1;
        }
    }
    @include tablet {
        padding: $s-2;
    }
}

.escrow-section {
    padding: $s-1;

    .escrow-flex {
        background: $background_color;
        padding: $s-2;
        padding-bottom: 0;
        border-radius: 10px;

        .left {
            .escrow-section__title {
                font-size: 2rem;
                line-height: 1.4;
                margin-bottom: $s-1;
            }

            .escrow-section__text {
                @include paragraph;
                margin-bottom: 1.5rem;
            }

            .escrow-section__link {
                @include escrowLink;
            }
        }
        @include tablet {
            padding: $s-4;
        }

        @include desktop {
            display: flex;
            align-items: center;
            padding-bottom: 0;
            padding-top: $s-1;

            .right {
                width: 70%;
            }
        }
    }
    @include tablet {
        padding: $s-2;
    }
}

.editor-section {
    padding: $s-1;

    .editor {
        &__left {

        }

        &__right {
            margin-bottom: $s-2;

            .editor-section__title {
                font-size: 2rem;
                line-height: 1.4;
                margin-bottom: $s-1;
            }

            .editor-section__text {
                @include paragraph;
                margin-bottom: $s-2;
            }

            .editor-section__link {
                @include escrowLink;
            }
        }
        @include desktop {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;

            &__left {
                width: 60%;
            }

            &__right {
                width: 40%;
            }
        }
    }
    @include tablet {
        padding: $s-2;
    }
}

.footer {
    background: $black;
    padding: $s-3 $s-1;
    color: white;

    .footer-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
        a {
            display: block;
        }

        .logo {
            @include logo;
            color: $white;
            margin-bottom: $s-1;
        }

        .spense {
            margin-bottom: $s-2;
            order: 1;

            @include tablet {
                width: 40%;
            }

            p {
                line-height: 1.5;
                font-size: 1.125rem;
                color: #979692;
            }
        }

        .col {
            margin-right: $s-1;
            margin-bottom: $s-1;

            h4 {
                font-size: 1.2rem;
                margin-bottom: $s-1;
            }

            a {
                text-decoration: none;
                color: #979692;
                font-size: 1.2rem;
                margin-bottom: $s-1;
            }
        }

        .company {
            order: 2;
        }

        .sitemap {
            order: 4;
        }

        .resources {
            order: 5;
        }

        .opportunities {
            order: 3;
        }
    }
    @include tablet {
        padding: $s-2;
    }
}


.mobile-active {
    transform: translateX(0%) !important;
}

.line1-active {
    transform: rotate(45deg) translate(7px, 5px);
}

.line2-active {
    opacity: 0;
}

.line3-active {
    transform: rotate(-45deg) translate(7px, -5px);
}

