*, *::before, *::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Cabin', sans-serif;
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
}

.d_none {
  display: none;
}

.pre-header {
  background: #000000;
  color: #ffffff;
  padding: 1rem;
}

.pre-header__text {
  text-align: center;
  font-size: 1.125rem;
  line-height: 1.5;
}

.header {
  background: #F0EEEB;
  padding: 2rem 1rem;
}

.header .header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-nav .logo {
  text-decoration: none;
  color: #000000;
  font-size: 1.2rem;
  font-weight: bold;
}

.header .header-nav .nav-list {
  position: absolute;
  right: 0;
  top: 200px;
  width: 100%;
  background: #000000;
  height: 100vh;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.7s ease-in-out;
  transition: -webkit-transform 0.7s ease-in-out;
  transition: transform 0.7s ease-in-out;
  transition: transform 0.7s ease-in-out, -webkit-transform 0.7s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-nav .nav-list__center li {
  list-style: none;
  margin-bottom: 1rem;
}

.header .header-nav .nav-list__center li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
}

.header .header-nav .nav-list__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.header .header-nav .nav-list__right li {
  list-style: none;
}

.header .header-nav .nav-list__right li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
}

.header .header-nav .nav-list__right button {
  border: none;
  border-radius: 10px;
  background: #ffffff;
  padding: 1rem;
  font-size: 1.4rem;
}

.header .header-nav .burger .line1,
.header .header-nav .burger .line3 {
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.header .header-nav .burger .line2 {
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

.header .header-nav .burger div {
  width: 22px;
  height: 4px;
  background: #000000;
  margin-bottom: .3rem;
}

.mobile-active {
  -webkit-transform: translateX(0%) !important;
          transform: translateX(0%) !important;
}

.line1-active {
  -webkit-transform: rotate(45deg) translate(7px, 5px);
          transform: rotate(45deg) translate(7px, 5px);
}

.line2-active {
  opacity: 0;
}

.line3-active {
  -webkit-transform: rotate(-45deg) translate(7px, -5px);
          transform: rotate(-45deg) translate(7px, -5px);
}
/*# sourceMappingURL=style.css.map */