*, *::before, *::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Inter', sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

.background-container {
  background-color: #FBF8F3;
}

@media (min-width: 800px) {
  .container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: cneter;
      -ms-flex-align: cneter;
          align-items: cneter;
  padding: 2rem;
}

.header .nav,
.header .buttons {
  display: none;
}

.header a {
  text-decoration: none;
  color: black;
  font-size: 1.25rem;
  font-weight: bold;
}

.hero-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  padding: 2rem;
  margin-top: -5rem;
}

.hero-section .hero-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-section .hero-img .hero-img-wrapper {
  width: 90%;
}

.hero-section .hero-text .star-container,
.hero-section .hero-text .rated {
  display: none;
}

.hero-section .hero-text .hero-section__title {
  font-size: 2.3rem;
  margin: 1.5rem 0 1rem 0;
}

.hero-section .hero-text .hero-section__text {
  font-size: 1.125rem;
  color: #636262;
  letter-spacing: 0.2px;
  margin-bottom: 1rem;
}

.hero-section .hero-text .cta-container .cta-btn {
  border: none;
  border-radius: 7px;
  color: white;
  background: #4D13D1;
  font-weight: bold;
  padding: 1rem;
  font-size: 1.125rem;
  display: block;
  width: 100%;
  margin-bottom: 1.5rem;
}

.hero-section .hero-text .cta-container a {
  color: #4D13D1;
  font-size: 1.125rem;
  font-weight: bold;
  display: block;
  text-align: center;
  margin-bottom: 2rem;
}

.hero-section .hero-text .checkmark-container .checkmark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.hero-section .hero-text .checkmark-container .checkmark p {
  font-size: 1.125rem;
  color: #636262;
}

.hero-section .hero-text .checkmark-container .checkmark img {
  margin-right: .5rem;
}

.article-section {
  padding: 4rem 2rem 0 2rem;
}

.article-section a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.25rem;
  color: #4D13D1;
}

.article-section__title {
  font-size: 2.3rem;
  margin: 1.5rem 0 2.5rem 0;
}

.article-section .article {
  margin-bottom: 3rem;
}

.article-section .article .article__title {
  font-size: 1rem;
  margin: 1rem 0;
}

.article-section .article .article__text {
  font-size: 1.125rem;
  color: #636262;
}

.diversify-section {
  padding: 1.5rem 2rem 0 2rem;
  border-radius: 10px;
}

.diversify-section .diversify-left {
  background: #4D13D1;
  padding: 3rem 2rem 0 2rem;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.diversify-section .diversify-left h4 {
  color: white;
  font-size: 2.3rem;
  margin-bottom: 1rem;
}

.diversify-section .diversify-left p {
  font-size: 1.125rem;
  color: #EDE8FF;
  margin-bottom: 1.5rem;
  letter-spacing: 0.4px;
}

.diversify-section .diversify-left button {
  border: none;
  border-radius: 7px;
  color: white;
  background: #4D13D1;
  font-weight: bold;
  padding: 1rem;
  font-size: 1.125rem;
  display: block;
  color: #4D13D1;
  background: white;
  width: 100%;
}

.diversify-section .diversify-right {
  background: #4D13D1;
  padding: 4rem 2rem 0 2rem;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.portfolio-section {
  padding: 4rem 2rem 0 2rem;
}

.portfolio-section .portfolio {
  border: 2px solid #E3E3E3;
  border-radius: 7px;
  padding: 1.5rem;
  margin-bottom: 2rem;
}

.portfolio-section .portfolio .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.portfolio-section .portfolio .user img {
  margin-right: 1rem;
}

.portfolio-section .portfolio .user__name {
  color: #5017D2;
  font-weight: bold;
  font-size: 1.125rem;
  margin-bottom: .1rem;
}

.portfolio-section .portfolio .user__sallary {
  font-size: 1.125rem;
  margin-top: .1rem;
}

.portfolio-section .portfolio__text {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.portfolio-section .portfolio .portfolio-btn {
  border: 2px solid #E3E3E3;
  border-radius: 7px;
  background: white;
  color: #5017D2;
  font-weight: bold;
  padding: 1rem;
  display: block;
  font-size: 1.25rem;
  width: 100%;
}

.footer {
  padding: 3rem 2rem;
}

.footer .col {
  margin-bottom: 3rem;
}

.footer .col h6 {
  font-size: 1.125rem;
  margin-bottom: 1rem;
}

.footer .col p,
.footer .col span {
  color: #434444;
  font-size: 1.125rem;
}

.footer .col a {
  display: block;
  text-decoration: none;
  font-size: 1.125rem;
  color: #434444;
  margin: .6rem 0;
}
/*# sourceMappingURL=style.css.map */