@import '_reset';
@import '_components';

.header {
    position: relative;

    .desktop-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        padding: 2rem;
    
        .nav,
        .buttons {
            display: none;
        }
    
        .nav {
            margin-left: 5rem;
    
            ul {
                display: flex;
                list-style-type: none;
    
                li {
                    margin: 0 .5rem;
                    a {
                        text-decoration: none;
                        color: black;
                        font-size: 1.125rem;
                    }
                }
            }
        }
    
        .buttons {
            .signin-btn {
                @include sign-btn;
                background: #FBF8F3;
            }
    
            .signup-btn {
                @include sign-btn;
                background: #5017D2;
                color: white;
            }
        }
    }


    .mobile-menu {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        background: white;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;

        .nav-mobile {
            .close {
                font-size: 1.5rem;
            }

            ul {
                list-style-type: none;
                
                li {
                    margin: 1rem 0;
                    display: block;
                    a {
                        text-decoration: none;
                        color: black;
                        font-size: 1.25rem;
                        font-weight: bold;
                    }
                }
            }
        }
    }

    .buttons-mobile {
        .signin-btn {
            @include sign-btn;
            background: #FBF8F3;
            display: block;
            width: 100%;
        }

        .signup-btn {
            @include sign-btn;
            background: #5017D2;
            color: white;
            display: block;
            width: 100%;
        }
    }

}

.header {
    .logo {
        text-decoration: none;
        color: black;
        font-size: 1.25rem;
        font-weight: bold;
    }
}

// hero-section for img
.hero-section {
    display: flex;
    flex-direction: column-reverse;
    padding: 2rem;
    margin-top: -5rem;
    pointer-events: none;

    .hero-img {
        display: flex;
        justify-content: center;
        align-items: center;

        .hero-img-wrapper {
            width: 90%;
        }
    }
}

.hero-section {
    .hero-text {
        .star-container,
        .rated {
            display: none;
        }

        .hero-section__title {
            font-size: 2.3rem;
            margin: 1.5rem 0 1rem 0;
        }

        .hero-section__text {
            font-size: 1.125rem;
            color: #636262;
            letter-spacing: 0.2px;
            margin-bottom: 1rem;
        }

        .cta-container {
            .cta-btn {
                @include cta-btn;
                width: 100%;
                margin-bottom: 1.5rem;
            }

            a {
                @include cta-link;
                margin-bottom: 2rem;
            }
        }

        .checkmark-container {
            .checkmark {
                display: flex;
                align-items: center;
                margin-bottom: 1rem;

                p {
                    font-size: 1.125rem;
                    color: #636262;
                }

                img {
                    margin-right: .5rem;
                }
            }
        }
    }
}


.article-section {
    padding: 4rem 2rem 0 2rem;

    a {
        text-decoration: none;
        font-weight: bold;
        font-size: 1.25rem;
        color: #4D13D1;
    }

    &__title {
        font-size: 2.3rem;
        margin: 1.5rem 0 2.5rem 0;
    }
    
    .article {
        margin-bottom: 3rem;

        .article__title {
            font-size: 1rem;
            margin: 1rem 0;
        }
    
        .article__text {
            font-size: 1.125rem;
            color: #636262;
        }
    }
}

.diversify-section {
    padding: 1.5rem 2rem 0 2rem;
    border-radius: 10px;

    .diversify-left {
        background: #4D13D1;
        padding: 3rem 2rem 0 2rem;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;

        h4 {
            color: white;
            font-size: 2.3rem;
            margin-bottom: 1rem;
        }

        p {
            font-size: 1.125rem;
            color: #EDE8FF;
            margin-bottom: 1.5rem;
            letter-spacing: 0.4px;
        }

        button {
            @include cta-btn;
            color: #4D13D1;
            background: white;
            width: 100%;
        }
    }

    .diversify-right {
        background: #4D13D1;
        padding: 4rem 2rem 0 2rem;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
    }
}

.portfolio-section {
    padding: 4rem 2rem 0 2rem;

    .portfolio {
        border: 2px solid #E3E3E3;
        border-radius: 7px;
        padding: 1.5rem;
        margin-bottom: 2rem;

        .user {
            @include user;
            margin-bottom: 1rem;
        }

        &__text {
            font-size: 1.125rem;
            margin-bottom: 1rem;
        }

        .portfolio-btn {
            @include portfolio-btn;
            width: 100%;
        }
    }
}

.footer {
    padding: 3rem 2rem;
    display: flex;
    flex-wrap: wrap;

    .col {
        margin-bottom: 3rem;
        margin-right: 3rem;

        h6 {
            font-size: 1.125rem;
            margin-bottom: 1rem;
        }
    
        p,
        span {
            color: #434444;
            font-size: 1.125rem;
        }

        a {
            display: block;
            text-decoration: none;
            font-size: 1.125rem;
            color: #434444;
            margin: .6rem 0;
        }
    }
}

@media (min-width: 600px) {
    .hero-section {
        padding: 5rem;
    }

    .article-section {
        .articles {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .article {
                width: 40%;
            }
        }
    }   
}


@media (min-width: 900px) {
    .header {
        .desktop-menu {
            .nav,
            .buttons {
                display: block !important;
            }
    
            .burger-menu {
                display: none;
            }
        }
    }

    .hero-section {
        padding: 0;
        padding-bottom: 5rem;
        margin: 0;
        display: flex;
        align-items: center;
        flex-direction: row;

        .hero-text {
            flex: 1;

            .star-container,
            .rated {
                display: block;
            }

            .star-container {
                display: flex;
                img {
                    margin-right: .3rem;
                }
            }

            .hero-section__title {
                font-size: 2.6rem;
            }

            .cta-container {
                display: flex;
                align-items: center;

                button {
                    flex: 1;
                }

                a {
                    flex: 1;
                }
            }

            .checkmark-container {
                display: flex;

                .checkmark {
                    flex: 1;
                    margin: 0 .5rem;
                }
            }
        }

        .hero-img {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
    
            .hero-img-wrapper {
                width: 100%;
            }
        }
    }

    .article-section {
        .articles {
            .article {
                width: 30%;
            }
        }
    }

    .diversify-section {
        display: flex;

        .diversify-left {
            border-radius: 0;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .diversify-right {
            border-radius: 0;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    }

    .portfolio-section {
        display: flex;
        justify-content: space-between;

        .portfolio {
            width: 30%;
        }
    }
}


